In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Save all the csv files for each year in dictionary.

In [177]:
data_holder = {}
min_year = 2002
max_year = 2020

for year in range(min_year, max_year+1):
    data_holder['data_'+str(year)] = pd.read_csv(f'weather_of_{year}.csv')

len(data_holder)

19

Shows all the NA values for each csv file.

In [178]:
na_values_holder = {}

for x,y in zip(data_holder.keys(),data_holder.values()):
    na_values_holder[x] = y.isna().any(axis=1).sum()

na_values_holder

{'data_2002': 18,
 'data_2003': 20,
 'data_2004': 17,
 'data_2005': 9,
 'data_2006': 17,
 'data_2007': 7,
 'data_2008': 15,
 'data_2009': 15,
 'data_2010': 9,
 'data_2011': 16,
 'data_2012': 17,
 'data_2013': 16,
 'data_2014': 6,
 'data_2015': 7,
 'data_2016': 11,
 'data_2017': 3,
 'data_2018': 10,
 'data_2019': 8,
 'data_2020': 13}

Tried to fill NA values which are in 'Pct Avg to Date', but I could not figure out how to calculate for this column and it turns out that there are only few rows that are missing this column so I decided to drop these rows that consist NA values in 'Pct Avg to Date' column

In [181]:
for x in data_holder.values():
    x.dropna(inplace=True)

In [182]:
na_values_holder = {}

for x,y in zip(data_holder.keys(),data_holder.values()):
    na_values_holder[x] = y.isna().any(axis=1).sum()

na_values_holder

{'data_2002': 0,
 'data_2003': 0,
 'data_2004': 0,
 'data_2005': 0,
 'data_2006': 0,
 'data_2007': 0,
 'data_2008': 0,
 'data_2009': 0,
 'data_2010': 0,
 'data_2011': 0,
 'data_2012': 0,
 'data_2013': 0,
 'data_2014': 0,
 'data_2015': 0,
 'data_2016': 0,
 'data_2017': 0,
 'data_2018': 0,
 'data_2019': 0,
 'data_2020': 0}