In [1]:
import pandas as pd
import numpy as np

In [4]:
precip_data_2002 = pd.read_csv("weather_of_2002.csv")

In [5]:
precip_data_2002.head()

,ID,LOCATION,OCT,NOV,DEC,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,WY Total,Pct Avg to Date
0,4BK,BROOKINGS,6.43,14.53,17.32,17.32,9.10,6.05,6.62,3.65,3.68,0.02,0.03,1.45,86.20,117.0
1,ASHO3,ASHLAND,0.38,3.50,3.41,1.32,1.29,1.29,2.92,1.88,0.08,0.28,0.00,0.20,16.55,84.0
2,CVJO3,CAVE JUNCTION,2.46,13.60,14.81,9.76,6.46,4.63,1.94,0.89,0.00,0.00,0.00,0.33,54.88,88.0
3,GOLO3,GOLD BEACH,4.63,11.72,16.59,14.58,8.89,6.62,4.73,1.50,2.09,0.02,0.00,0.62,71.99,91.0
4,GPSO3,GRANTS PASS KAJO,0.39,6.37,6.94,4.31,2.89,1.36,0.87,0.62,0.02,0.00,0.00,0.05,23.82,77.0